In [16]:
import pandas as pd
import numpy as np

data = pd.read_csv("data.csv",header=None)
data

                            0
0   0   0.780510 -0.063669  1
1   1   0.287740  0.291390  1
2   2   0.407140  0.178780  1
3   3   0.292300  0.421700  1
4   4   0.509220  0.352560  1
..                        ...
56  95  0.770290  0.701400  0
57  96  0.731560  0.717820  0
58  97  0.445560  0.579910  0
59  98  0.852750  0.859870  0
60  99  0.519120  0.623590  0

[61 rows x 1 columns]